
/*Globals*/

body {
  font: normal 16px/1.5 Noto, sans-serif;
}

h2 {
  font: bold 53px/1.3 Futura;
  padding-bottom: 15px;
}

h2 + .author-name {
  padding-bottom: 15px;
}
div.wrapper-main {
  width: 60%;
  margin: 0 auto;
}

/*header styles*/

header {
  padding: 18px 0;
  display: table;
  width: 100%;
}

img.logo {
  max-height: 60px;
  float: left;
}


nav {
  display: inline-block;
  height: 40px;
  float: right;
  margin: 13px 0;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  /*text-align: right;*/
}

nav li {
  margin-right: 25px;
  display: inline-block;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

/*Question comments*/

ol.comments {
  margin-top: 30px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  color: rgba(0,0,0,0.8);
}

ol.comments li {
  padding: 20px 0;
}
ol.comments li + li {
  border-top: 1px solid #ececec;
}
/*CSS for Vote Buttons*/

.question-container {
  display: -webkit-flex;
  display: flex;
  padding: 5px;
  margin-left: -30px;
  margin-right: 10px;
  border-bottom: 1px solid lightgrey;
}

.vote-button:hover {
  cursor: pointer;
}

.question {
  -webkit-flex: 1;
          flex: 1;
  padding-left: 10px;
  padding-top: 7px;
}

.button-holder {
  -webkit-flex: initial;
          flex: initial;
}

.points {
  text-align: center;
}

.upvote-button {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid LightSkyBlue;
}

.downvote-button {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid LightCoral;
}


.hidden {
  display: none;
}


.button {
  background-color: #84DCCF;
  border-radius: 6px;
  border: none;
  padding: 3px 5px 3px 5px ;
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.container h1 {
  font-size: 17pt;

}

ul {
  list-style-type: none;
}

li a {
 text-decoration: none;
 color: black;
 line-height: 1.75;
}

li a:visited {
  color: MediumPurple ;
}

li a:hover {
  text-decoration: underline;
}

li a:link {
  color: LightSkyBlue;
}


form label {
  font-weight: bold;
  margin-right: 20px;
}

input[type="submit"], input[type="textarea"] {
  height: 45px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
}

input[type="textarea"] {
  margin-bottom: 10px;
  background-color: white;
  display: inline-block;
  color: gray;
  text-decoration: none;
  width: 91.5%;
  margin-top: 20px;
  border: 1px solid #ccc;
}


.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

.author-name {
  font-style: italic;
  color: rgba(0,0,0,0.6);
  font-weight: normal;
}

.author-name::before {
  content: "by ";
}
#new-question[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form #new-question {
  width: 80%
}
