/*CSS for Vote Buttons*/

.question-container {
  display: -webkit-flex;
  display: flex;
  padding: 5px;
  margin-left: -30px;
  margin-right: 10px;
  border-bottom: 1px solid lightgrey;
}

.vote-button:hover {
  cursor: pointer;
}

.question-title {
  font-size: 120%;
  font-weight: bold;
}

.question {
  -webkit-flex: 1;
          flex: 1;
  padding-left: 10px;
  padding-top: 7px;
}

.button-holder {
  -webkit-flex: initial;
          flex: initial;
}

.points {
  text-align: center;
}

.upvote-button {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid LightSkyBlue;
}

.downvote-button {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid LightCoral;
}

.hidden {
  display: none;
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.container h1 {
  font-size: 17pt;

}

ul {
  list-style-type: none;
}

li a {
 text-decoration: none;
 color: black;
 line-height: 1.5;
}

li a:visited {
  color: lightgrey;
}

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
  display: table;
  text-align: right;
  margin: 0 auto;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  /*text-align: right;*/
}

nav li {
  margin-right: 25px;
  display: inline-block;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
  background-color: white;
  border: none;
  display: inline-block;
  color: gray;
  text-decoration: none;
  width: 100%;
  height: 40px;
  font-weight: bold;
  text-align: right;
  margin: 0 auto;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

.author-name {
  font-style: italic;
}

