<h2 class="question-title"><%= @question.title %></h2>
<p class="question-author"><%= @question.author.username %></p>
<p class="question-description"><%= @question.description %></p>
<% if @answers %>
  <ol class="answers">
    <% @answers.each do |answer| %>
      <li><img src="<%= answer.gif %>" /></li>
    <% end %>
  </ol>
<% end %>
