<form action= "/users" method="post">
  <input name= "user[username]" type= "text" placeholder= "user name">
  <input name= "user[email]" type= "email" placeholder= "email">
  <input name= "user[password]" type= "password" placeholder= "password">
  <input type="submit" value= "Register Me!">
</form>
