<ul class='questions'>
<% @questions.each do |question| %>
  <li><a href='/questions/<%= question.id %>'><%= question.title %></a> - <span class="author-name"><%= question.author.username %></span></li>
<% end %>
</ul>
