<% if logged_in? %>
  <button class="new-question button" type="button">New Question</button>
  <form id="new-question" class="hidden" action="/questions" method="POST">
    <input type="text" name="title" placeholder="Question Title">
    <input type="text" name="description" placeholder="Description">
    <input type="submit" value="Submit Question">
  </form>
<% end %>

<ul class='questions'>
<% @questions.each do |question| %>
  <%= erb :'/question/_question', locals: {question: question} %>
<% end %>
</ul>
