<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js?app=skills"></script>

  <title>GIF Overflow</title>
</head>
<body>
  <h1 id="title">GIF Overflow</h1>
  <nav>
    <% if logged_in? %>
    <li><a href=<%= "/users/#{current_user.id}" %>><%= current_user.username %></a></li>
    <li>Logout</li>
    <% else %>
    <li><a href='/users/new'>Register</a></li>
    <li><a href='/sessions/new'>Log In</a></li>
    <% end %>
    <li><a href='/'>Home</a></li>
  </nav>
  <%= yield %>
</body>
</html>
